@mixin tutor-videos-view {
	
	.v-panel-videos-billboard {
		background: url(images/background.jpg);
		background-repeat: no-repeat;
    	background-position: center;
    	
    	&[width-range~="0-320px"] {
    		background-size: auto 100%;
		}
		&[width-range~="321px-850x"] {
			background-size: auto 100%;
		}
		&[width-range~="801px-"] {
			background-size: 100% auto;
		}
	}
	
	.v-verticallayout-videos-billboard {
	
		&[width-range~="0-320px"] {
			.videos-billboard-header {
				font-size: 20px;
			}
		}
		&[width-range~="321px-800x"] {
			.videos-billboard-header {
				font-size: 30px;
			}
		}
		&[width-range~="800px-"] {
			.videos-billboard-header {
				font-size: 45px;
			}
		}
	}
	
	.v-button-signup {
		color: #ffffff;
		font-weight: bold;
		font-size: 20px;
	}
	
	.v-label-videos-billboard-header {
		color: #ffffff;
		font-weight: bold;
	}
	
	.v-button-thumbnail img {
		width: 196px; 
		height: 132px; 
	}
}