@mixin tutor-common {

	.v-horizontallayout-mainmenu {
		background: #197de1;
		
		.menubutton {
			color: #ffffff;
		}
		.username {
			color: #ffffff;
		}
		
		.menuitem {
			.v-menubar-menuitem-caption {
				color: #ffffff;
			}
		}
	}
	
}